MINERU_MODEL_SOURCE=
MODELSCOPE_OFFLINE=
MODELSCOPE_CACHE=
HF_HOME=
MD_ROOT_DIR=
LLM_DEFAULT_MODEL=
VL_MODEL=
OPENAI_API_KEY=
OPENAI_BASE_URL=
LLM_DEFAULT_TEMPERATURE=
BGE_M3_PATH=
BGE_M3=
BGE_DEVICE=
BGE_FP16=
ITEM_NAME_DIAG=
MILVUS_URL=
CHUNKS_COLLECTION=
ENTITY_NAME_COLLECTION=
ITEM_NAME_COLLECTION=
EMBEDDING_DIM=
NEO4J_URI=
NEO4J_DATABASE=
NEO4J_USERNAME=
NEO4J_PASSWORD=
MONGO_URL=
MONGO_DB_NAME=
MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET_NAME=
MINIO_IMG_DIR=
MINIO_PDF_DIR=
MINIO_SECURE=
BGE_RERANKER_LARGE=
BGE_RERANKER_DEVICE=
BGE_RERANKER_FP16=
MCP_DASHSCOPE_BASE_URL=
MINERU_API_TOKEN=
MINERU_BASE_URL=
LOG_CONSOLE_ENABLE=
LOG_CONSOLE_LEVEL=
LOG_FILE_ENABLE=
LOG_FILE_LEVEL=
LOG_FILE_RETENTION=
